# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\flink\scala-flink\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
